.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    position: fixed;
    right: 0;
    z-index: 10;

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__list {
        display: flex;
    }
}
