.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 40px;
    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
    &__list {
        display: flex;
    }
}
