.about {
    padding: 70px 0;

    &__desc {
        text-align: center;
        font-size: rem(20);
        font-weight: 600;
        letter-spacing: 2px;
        line-height: 1.6;
        margin-bottom: 50px;
    }

    .btn {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}
.arrow {
    padding: 100px 0 30px;
    text-align: center;

    &__top {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        color: $main-color;
        border: $main-color 2px solid;
        border-radius: 40px;
        line-height: 40px;

        &::before {
            content: "";
            top: 50%;
            left: 50%;
            margin-top: -4px;
            width: 10px;
            height: 10px;
            border: 0px;
            border-top: solid 3px $main-color;
            border-right: solid 3px $main-color;
            border-radius: 2px;
            transform: translate(-50%) rotate(-45deg);
            // transform: translate(-50%);
            position: absolute;
        }
    }
}
.case {
    padding: 120px 0;

    &__link {
        color: $text-color;
    }

    .btn {
        padding: 16px 20px;
        font-size: rem(17);
        font-weight: 700;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.case-gift {
    .btn {
        padding: 18px 30px;
        margin-right: 40px;
    }

    &:last-child {
        margin-right: 0;
    }
}
.case-gifts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    &__item {
        width: calc((100% - 120px) / 4);
    }
    &__item-desc {
        margin-bottom: 50px;
        font-size: rem(20);
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__item-img {
        margin-bottom: 20px;

        img {
            width: 220px;
            height: 140px;
            object-fit: cover;
        }
    }
}

.case-stores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;

    &__item {
        display: flex;
        align-items: center;
    }
    &__item-img {
        img {
            max-width: 300px;
            max-height: 100px;
            object-fit: cover;
        }
    }
}
.case-study {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        width: calc((100% - 60px) / 2);
        max-width: 470px;
        margin-bottom: 60px;

        &-desc {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
        }
        &-img {
            margin-bottom: 20px;
        }
        &-title {
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 800;
        }
    }
}
.event-sample {
    padding: 120px 0;

    &__detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: calc(85% / 3);
        margin-right: 50px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &-img {
            margin-bottom: 35px;
        }
    }
    &__item-desc {
        @include NotoSansJP;
        font-weight: 400;
        font-size: rem(15);
        letter-spacing: 0.75px;
        line-height: 1.5em;
    }
    &__item-header {
        font-weight: 700;
        font-size: rem(24);
        letter-spacing: 2.4px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}
.inner {
}
.main {
    background-image: url("/assets/img/mv_back.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
}
.media {
    padding: 100px 0;
}
.medias {
    display: flex;
    flex-wrap: wrap;

    &__item {
        border-radius: 10px;
        background-color: $white;
        border: $main-color 3px solid;
        width: calc((100% - 60px) / 3);
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }
    &__item-content {
        font-size: rem(14);
        font-weight: 500;
        letter-spacing: 1.4px;
    }
    &__item-date {
        @include KorolevRounded;
        font-size: rem(14);
        font-weight: 500;
    }
    &__item-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__item-img {
        margin-bottom: 10px;
    }
    &__item-label {
        @include KorolevRounded;
        font-size: rem(12);
        font-weight: 700;
        color: $white;
        padding: 2px 10px;
        border-radius: 20px;
        background-color: $main-color;
    }
}

.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
.menu {
    width: calc((100% - 60px) / 2);
    text-align: center;
    background-color: $white;
    border-radius: 20px;
    border: $main-color 5px solid;
    overflow: hidden;

    &__content {
        background-color: $white;
        border-radius: 0 0 20px 20px;
        padding: 20px 35px 30px;
    }
    &__desc {
        padding: 15px 0;

        &-detail {
            text-align: left;
            font-size: rem(16);
            letter-spacing: 1.6px;
            padding-top: 15px;
        }

        &--link {
            color: $text-color;
            text-decoration: underline;
        }
    }
    &__heading {
        font-size: rem(22);
        font-weight: 700;
        color: $white;
        background-color: $main-color;
        padding: 10px 25px;

        &--red {
            background-color: $accent-color;
        }
    }

    &__price {
    }
    &__sub-heading {
        color: #808080;
        font-size: rem(16);
        letter-spacing: 1.6px;
    }
    &__time {
    }
    &__value {
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 2.4px;
        border-bottom: #e6e6e6 1px solid;
        margin-bottom: 16px;

        &--accent {
            font-size: rem(60);
            letter-spacing: 6px;
        }
    }
    &--red {
        border: $accent-color 5px solid;
    }
}
.mind {
    padding: 120px 0;
    &__content {
        letter-spacing: 1.6px;
        line-height: 1.8em;
    }
}
.section {
    &__sub-heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
    }
    &__heading {
        text-align: center;
        font-size: rem(45);
        font-weight: 800;
        letter-spacing: 6.75px;
        position: relative;
        line-height: 1.6em;
        margin-bottom: 70px;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 60px;
            height: 5px;
            margin-top: 20px;
            transform: translateX(-50%);
            background-color: $main-color;
            border-radius: 5px;
        }
    }
}

.service {
    padding: 120px 0 100px;

    &__desc {
        text-align: center;
        font-size: rem(16);
        font-weight: 400;
        margin-bottom: 50px;
    }

    .btn {
        padding: 18px 30px;
        min-width: 260px;
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

    &__item {
        width: calc((100% - 100px) / 3);
    }
    &__item-desc {
        @include NotoSansJP;
        font-size: rem(14);
        font-weight: 400;
        letter-spacing: 1.4px;
    }
    &__item-img {
        margin: 0 auto 20px;
        width: 150px;
    }
    &__item-title {
        margin-bottom: 15px;
        text-align: center;
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 2.4px;
    }
}

.system {
    padding: 120px 0;

    &__desc {
        text-align: center;
        font-size: rem(16);
        letter-spacing: 1.6;
        line-height: 1.5;
        margin-bottom: 50px;
    }
    &__img {
        margin: 0 auto;
        max-width: 650px;
    }
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 820px;

    &__desc {
        font-size: rem(24);
        font-weight: 800;
        letter-spacing: 4.8px;
        line-height: 1.8em;
    }
    &__heading {
        margin-left: 150px;
        margin-right: 50px;
        &-inner {
            max-width: 560px;
            margin: 0 auto;
        }
    }

    &__logo-img {
        margin-bottom: 40px;
    }

    &__mv {
        flex-basis: 680px;
    }
}
.usage {
    background-image: url("/assets/img/back1.svg"), url("/assets/img/back2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: left, right;
    padding-top: 120px;

    &__desc {
        text-align: center;
        font-size: rem(16);
        font-weight: 600;
        margin-bottom: 70px;
    }
    &__detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        &-item {
            position: relative;
            margin-right: 20px;
            margin-bottom: 50px;
            width: calc(84% / 3);

            &:last-child {
                margin-right: 0;
            }

            img {
                max-width: 300px;
            }

            &:nth-of-type(n + 2) {
                margin-left: 40px;

                .usage__participant &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    width: 12px;
                    height: 24px;
                    padding: 15px;
                    background: url("/assets/img/arrow-orange.svg") no-repeat;
                    transform: translateY(-50%);
                }
                .usage__organizer &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    width: 12px;
                    height: 24px;
                    padding: 15px;
                    background: url("/assets/img/arrow-red.svg") no-repeat;
                    transform: translateY(-50%);
                }
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
    &__organizer {
        display: none;
    }
}

.bg-orange {
    background-color: $bg-color;
}

.bg-light-orange {
    background-color: $bg-color2;
}
