.about {
    padding: 70px 0;

    &__desc {
        text-align: center;
        font-size: rem(20);
        font-weight: 500;
        letter-spacing: 2px;
        line-height: 1.7;
        margin-bottom: 50px;
    }

    .btn {
        margin-right: 40px;

        &:last-child {
            margin-right: 0;
        }
    }
}
@include sp {
    .about {
        padding: 60px 0;

        .btn {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__desc {
            font-size: rem(20);
        }
    }
}
.arrow {
    padding: 100px 0 30px;
    text-align: center;

    &__top {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 40px;
        color: $main-color;
        border: $main-color 2px solid;
        border-radius: 40px;

        &::before {
            content: "";
            top: 50%;
            left: 50%;
            margin-top: -4px;
            width: 10px;
            height: 10px;
            border: 0px;
            border-top: solid 3px $main-color;
            border-right: solid 3px $main-color;
            border-radius: 2px;
            transform: translate(-50%) rotate(-45deg);
            // transform: translate(-50%);
            position: absolute;
        }
    }
}
@include sp {
    .arrow {
        padding: 50px 0 20px;
    }
}
.case {
    padding: 120px 0;

    &__link {
        color: $text-color;
    }

    .btn {
        padding: 16px 20px;
        font-size: rem(17);
        font-weight: 700;
        margin-right: 20px;
        min-width: 220px;
        letter-spacing: 0.85px;
        line-height: 1.2;

        &:last-child {
            margin-right: 0;
        }
    }
}
@include sp {
    .case {
        padding: 100px 0;

        .btn {
            max-width: 250px;
            margin-right: 0;
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .case-study {
        margin-bottom: 80px;
    }
}

.case-gift {
    .btn {
        padding: 18px 30px;
        margin-right: 40px;
    }

    &:last-child {
        margin-right: 0;
    }
}
.case-gifts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;

    &__item {
        width: calc((100% - 120px) / 4);
        min-width: 240px;
    }
    &__item-desc {
        margin-bottom: 50px;
        font-size: rem(20);
        font-weight: 700;
        letter-spacing: 2px;
    }
    &__item-img {
        margin-bottom: 20px;

        img {
            width: 220px;
            height: 140px;
            object-fit: cover;
        }
    }
}

@include tablet {
    .case-gifts {
        &__item {
            width: calc((100% - 50px) / 2);
        }

        &__item-img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@include sp {
    .case-gift {
        .btn {
            margin-right: 0;
            max-width: 100%;
        }
    }
    .case-gifts {
        max-width: 400px;

        &__item {
            width: 100%;

            &-img {
                box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.2);
                margin-bottom: 15px;
            }

            &-desc {
                font-size: rem(18);
                margin-bottom: 40px;

                &:last-child {
                    margin-bottom: 50px;
                }
            }
        }
    }
}
.case-stores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 120px;

    &__item {
        display: flex;
        align-items: center;
    }
    &__item-img {
        img {
            max-width: 300px;
            max-height: 100px;
            object-fit: cover;
        }
    }
}
@include sp {
    .case-stores {
        margin-top: -30px;
        margin-bottom: 80px;

        &__item {
            margin-bottom: 20px;
        }
    }
}
.case-study {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;

    &__item {
        width: calc((100% - 60px) / 2);
        max-width: 470px;
        margin-bottom: 60px;

        &-desc {
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 1.4px;
        }
        &-img {
            margin-bottom: 20px;
            box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.2);

            &:hover {
                box-shadow: 0 5px 15px 0 rgba(51, 51, 51, 0.4);
            }
        }

        &-title {
            margin-bottom: 15px;
            letter-spacing: 2px;
            font-size: 20px;
            font-weight: 800;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@include laptop {
    .case-study {
        .btn--small {
            padding: 16px 10px;
            min-width: 180px;
        }
    }
}
@include sp {
    .case-study {
        margin-bottom: 80px;

        &__item {
            width: 100%;
            margin: 0 auto 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.event-sample {
    padding: 120px 0;

    &__detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: calc((100% - 100px) / 3);
        margin-right: 50px;

        &:nth-of-type(3n) {
            margin-right: 0;
        }

        &-img {
            margin: 0 auto 35px;
            max-width: 315px;
        }
    }
    &__item-desc {
        @include NotoSansJP;
        font-weight: 400;
        font-size: rem(15);
        letter-spacing: 0.75px;
        line-height: 1.7;
    }
    &__item-header {
        font-weight: 700;
        font-size: rem(24);
        letter-spacing: 2.4px;
        line-height: 1.5;
        margin-bottom: 15px;
    }
}
@include tablet {
    .event-sample {
        &__detail {
            margin-bottom: -50px;
        }

        &__item {
            width: calc((100% - 50px) / 2);
            margin-bottom: 50px;

            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }
}
@include sp {
    .event-sample {
        padding: 100px 0;

        &__item {
            width: 100%;
            margin-right: 0;
        }

        &__item-header {
            font-size: rem(20);
        }
    }
}
.main {
    background-image: url("/assets/img/mv_back.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 50px;
    overflow-x: hidden;
}
@include tablet {
    .main {
        background-image: url("/assets/img/spmv_back.svg");
    }
}
.media {
    padding: 100px 0;
}
@include sp {
    .media {
        padding: 60px 0;
    }
}
.medias {
    display: flex;
    flex-wrap: wrap;

    &__link {
        color: $text-color;
    }
    &__item {
        border-radius: 10px;
        background-color: $white;
        border: $main-color 3px solid;
        width: calc((100% - 40px) / 3);
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;

        &:hover {
            border: $main-color 5px solid;
        }

        &:nth-of-type(3n) {
            margin-right: 0;
        }
    }
    &__item-content {
        font-size: rem(14);
        font-weight: 500;
        letter-spacing: 1.4px;
    }
    &__item-date {
        @include KorolevRounded;
        font-size: rem(14);
        font-weight: 500;
        letter-spacing: 0px;
        line-height: 1.3;
    }
    &__item-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__item-img {
        margin-bottom: 10px;
    }
    &__item-label {
        @include KorolevRounded;
        font-size: rem(12);
        font-weight: 700;
        color: $white;
        padding: 2px 10px;
        border-radius: 20px;
        background-color: $main-color;
        letter-spacing: 0px;
    }
}
@include tablet {
    .medias {
        &__item {
            width: calc((100% - 20px) / 2);

            &:nth-of-type(3n) {
                margin-right: 20px;
            }
            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }
}
@include sp {
    .medias {
        &__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }
}

.menu-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
@include sp {
    .menu-wrap {
        margin-bottom: 40px;
    }
}
.menu {
    width: calc((100% - 60px) / 2);
    text-align: center;
    background-color: $white;
    border-radius: 20px;
    border: $main-color 5px solid;
    overflow: hidden;

    &__content {
        background-color: $white;
        border-radius: 0 0 20px 20px;
        padding: 20px 35px 30px;
    }
    &__desc {
        padding: 15px 0;

        &-detail {
            text-align: left;
            font-size: rem(16);
            letter-spacing: 1.6px;
            padding-top: 15px;
            line-height: 1.3;
        }

        &--link {
            color: $text-color;
            text-decoration: underline;
        }
    }
    &__heading {
        font-size: rem(22);
        font-weight: 700;
        color: $white;
        background-color: $main-color;
        padding: 10px 25px;
        letter-spacing: 1.1px;
        line-height: 1;

        &--red {
            background-color: $accent-color;
        }
    }

    &__sub-heading {
        color: #808080;
        font-size: rem(16);
        letter-spacing: 1.6px;
    }
    &__value {
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 2.4px;
        border-bottom: #e6e6e6 1px solid;
        margin-bottom: 16px;

        &--accent {
            font-size: rem(60);
        }
    }
    &--red {
        border: $accent-color 5px solid;
    }
}
@include sp {
    .menu {
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        &__content {
            padding: 20px 35px 40px;
        }

        &__heading {
            font-size: rem(17);
        }

        &__desc {
            padding: 0;

            &-detail {
                padding-top: 10px;
            }
        }

        &__value {
            line-height: 1.2;
        }
    }
}
.mind {
    padding: 120px 0;
    &__content {
        letter-spacing: 1.6px;
        line-height: 1.8;
    }
}
@include sp {
    .mind {
        padding: 100px 0;

        &__content {
            font-size: rem(14);
            letter-spacing: 0.7px;
            line-height: 1.7;
        }
    }
}
.section {
    &__sub-heading {
        text-align: center;
        font-size: 40px;
        margin-bottom: 60px;
        letter-spacing: 6px;
        font-weight: 700;
    }
    &__heading {
        text-align: center;
        font-size: rem(45);
        font-weight: 800;
        letter-spacing: 6.75px;
        position: relative;
        line-height: 1.2;
        margin-bottom: 70px;

        &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            width: 60px;
            height: 5px;
            margin-top: 20px;
            transform: translateX(-55%);
            background-color: $main-color;
            border-radius: 5px;
        }
    }
}
@include sp {
    .section {
        &__sub-heading {
            font-size: rem(28);
            margin-bottom: 50px;
        }
        &__heading {
            font-size: rem(30);
            letter-spacing: 3px;
            line-height: 1.3;
            margin-bottom: 60px;
        }
    }
}
.service {
    padding: 120px 0 100px;

    &__desc {
        text-align: center;
        font-size: rem(16);
        font-weight: 400;
        margin-bottom: 50px;
        letter-spacing: 1.6px;
    }

    .btn {
        padding: 18px 30px;
        min-width: 260px;
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

    &__item {
        width: calc((100% - 100px) / 3);
    }
    &__item-desc {
        @include NotoSansJP;
        font-size: rem(14);
        font-weight: 400;
        letter-spacing: 1.4px;
    }
    &__item-img {
        margin: 0 auto 20px;
        width: 150px;
    }
    &__item-title {
        margin-bottom: 15px;
        text-align: center;
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 2.4px;
    }
}
@include sp {
    .service {
        padding: 60px 0 80px;
    }

    .services {
        margin-bottom: 80px;

        &__item {
            width: 100%;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.system {
    padding: 120px 0;

    &__desc {
        text-align: center;
        font-size: rem(16);
        letter-spacing: 1.6px;
        line-height: 1.6;
        margin-bottom: 50px;
    }
    &__img {
        margin: 0 auto;
        max-width: 650px;
    }
}
.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 820px;

    &__desc {
        font-size: rem(24);
        font-weight: 800;
        letter-spacing: 4.8px;
        line-height: 1.8;
    }
    &__heading {
        margin-left: 150px;
        width: 50%;
    }

    &__logo-img {
        margin-bottom: 40px;
    }

    &__mv {
        width: 80%;
    }
}
@include sp {
    .system {
        padding: 60px 0;
    }
}
@include laptop {
    .top {
        height: 600px;

        &__heading {
            margin-left: 50px;
        }
        &__mv {
            width: 50%;
        }
    }
}

@include tablet {
    .top {
        flex-direction: column;

        &__heading {
            width: 100%;
            margin: 120px auto 50px;
        }

        &__desc {
            text-align: center;
            line-height: 1.6;
            margin-bottom: 50px;
        }

        &__logo-img {
            max-width: 514px;
        }
        &__mv {
            width: 90%;
            margin-right: 0;
        }
    }
}

@include sp {
    .top {
        height: auto;
        text-align: center;
        margin-bottom: 65px;

        &__heading {
            margin: 40px auto 0;
        }
        &__desc {
            font-size: rem(16);
            margin-bottom: 25px;
        }
        &__logo-img {
            margin: 0 auto 30px;
            width: 160px;
        }
        &__mv {
            width: 110%;
        }
    }
}
.usage {
    background-image: url("/assets/img/back1.svg"), url("/assets/img/back2.svg");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-position: left -200px, right -200px;
    padding-top: 120px;

    &__desc {
        text-align: center;
        font-size: rem(16);
        font-weight: 500;
        margin-bottom: 70px;
        letter-spacing: 1.6px;
        line-height: 1.6;
    }
    &__detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        &-item {
            position: relative;
            margin-right: 20px;
            margin-bottom: 50px;
            width: calc((100% - 180px) / 3);

            &:last-child {
                margin-right: 0;
            }

            img {
                max-width: 300px;
            }

            &:nth-of-type(n + 2) {
                margin-left: 40px;

                .usage__participant &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    width: 12px;
                    height: 24px;
                    padding: 15px;
                    background: url("/assets/img/arrow-orange.svg") no-repeat;
                    transform: translateY(-50%);
                }
                .usage__organizer &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: -40px;
                    width: 12px;
                    height: 24px;
                    padding: 15px;
                    background: url("/assets/img/arrow-red.svg") no-repeat;
                    transform: translateY(-50%);
                }
            }
        }
    }
    &__organizer {
        display: none;
    }
}
@include tablet {
    .usage {
        &__detail {
            margin-left: -20px;

            &-item {
                width: calc((100% - 120px) / 2);

                img {
                    max-width: 100%;
                }

                &:first-child {
                    margin-left: 40px;
                }

                &:nth-last-of-type(3n) {
                    margin-right: 20px;
                }
            }
        }
    }
}
@include sp {
    .usage {
        padding-top: 100px;

        &__detail {
            margin-left: 0;
            margin-bottom: 0;
            max-width: 315px;

            &-item {
                width: 100%;
                margin: 0 auto 50px;

                &:first-child {
                    margin-left: 0;
                }

                &:nth-of-type(n + 2) {
                    margin-left: 0;

                    .usage__participant &::before {
                        content: "";
                        position: absolute;
                        top: -33px;
                        left: 50%;
                        width: 12px;
                        height: 24px;
                        padding: 15px;
                        background: url("/assets/img/arrow-orange.svg") no-repeat;
                        transform: translateX(-50%) rotate(90deg);
                    }
                    .usage__organizer &::before {
                        content: "";
                        position: absolute;
                        top: -33px;
                        left: 50%;
                        width: 12px;
                        height: 24px;
                        padding: 15px;
                        background: url("/assets/img/arrow-red.svg") no-repeat;
                        transform: translateX(-50%) rotate(90deg);
                    }
                }
                &:nth-last-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
        &__desc {
            margin-bottom: 40px;
            font-weight: 500;
        }
    }
}

.bg-orange {
    background-color: $bg-color;
}

.bg-light-orange {
    background-color: $bg-color2;
}
